<main class="user-show-post-main">

    <div class="user-show-post-imageContainer">
        <img src=<%=post.postImage %> alt="image">
    </div>
    <h2>
        <%= post.postTitle %>
    </h2>

    <div class="postBody">
        <p>
            <%-post.postText %>
        </p>
    </div>
    <div>
        <h4>Author: <%= fullname %>
        </h4>
    </div>

</main>